*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: rgb(255, 0, 43) 5px solid;
    background: rgb(255, 84, 112);
}

.body{
    width: 1000px;
    height: 1000px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-self: center;
}
.container{
    height: 700px;
    width: 700px;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}